.get_started-block {
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 22% 15% 22% 15%;
  background-color: #f0f0f0;
}
  
@media only screen and (max-width: 1200px) {
  .get_started-block {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 50% 15% 50% 15%;
    background-color: #f0f0f0;
  }
} 
  
.get_started-block__heading {
  margin-bottom: 60px;
}
  